{% extends "LouvreCoreBundle:Core:layout.html.twig" %}

{% block title %}{{ parent() }} - Billet perdu ?{% endblock %}

{% block body %}
    <div class="home">
        <div class="container">
            <div class="reserver-louvre">
                {{ form_start(form, { 'attr' : {'class': 'form-horizontal'}}) }}
                <fieldset>
                    <!-- Form Name -->
                    <legend>Billet perdu ?</legend>

                    <!-- Text input-->

                    <div class="form-group">
                        {{ form_label(form.email, 'Email',{
                            'label_attr':{
                                'class': 'col-md-4 control-label',
                                'for': 'Email'
                            }
                        })}}

                        <div class="col-md-6">
                            {{ form_widget(form.email, {
                                'attr' : {
                                    'class': 'form-control input-md',
                                    'placeholder': 'email@exemple.com',
                                    'required': ''
                                }
                            })}}
                            <span class="help-block">Adresse email utilisée lors de la commande.</span>
                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            {{ form_widget(form.envoyer,{
                                'attr' : {
                                    'class': 'btn btn-reserv',
                                    'type': 'submit'
                                }
                            })}}
                        </div>
                    </div>
                </fieldset>
                {{ form_end(form) }}


            </div>

        </div>
    </div>
{% endblock %}