{% extends "LouvreCoreBundle:Core:layout.html.twig" %}

{% block title %}{{ parent() }} - Réservation billet{% endblock %}

{% block body %}
    <div class="home">
        <div class="container">
            <div class="reserver-louvre">
                {% for message in app.session.flashbag.get('info') %}
                    <p class="bg-info">{{ message }}</p>
                {% endfor %}
                {{ form_start(form, { 'attr' : {'class': 'form-horizontal'}}) }}
                <fieldset>

                    <!-- Form Name -->
                    <legend>Réservation</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        {{ form_label(form.qnt, 'Quantité',{
                            'label_attr':{
                                'class': 'col-md-4 control-label',
                                'for': 'qnt'
                            }
                        })}}
                        <div class="col-md-2">
                            {{ form_widget(form.qnt, {
                                'attr' : {
                                    'id': "qnt",
                                    'class': 'form-control input-md',
                                    'value': '1',
                                    'type': 'number',
                                    'required': ''
                                }
                            })}}
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        {{ form_label(form.email, 'Email',{
                            'label_attr':{
                                'class': 'col-md-4 control-label',
                                'for': 'email'
                            }
                        })}}
                        <div class="col-md-6">
                            {{ form_widget(form.email, {
                                'attr' : {
                                    'class': 'form-control input-md',
                                    'placeholder': 'email@exemple.com',
                                    'required': ''
                                }
                            })}}
                        </div>
                    </div>

                    <!-- Select Basic -->
                    <div class="form-group">
                        {{ form_label(form.type_billet, 'Type de billet',{
                            'label_attr':{
                                'class': 'col-md-4 control-label',
                                'for': 'type'
                            }
                        })}}
                        <div class="col-md-6">
                            {{ form_widget(form.type_billet, {
                                'attr' : {
                                    'class': 'form-control',
                                    'required': ''
                                }
                            })}}
                            <span class="help-block" id="help-demi-journee">Le billet demi-journée ne permet de rentrer qu’à partir de 14h00.</span>
                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        {{ form_label(form.date_visite, 'Jour de la visite',{
                            'label_attr':{
                                'class': 'col-md-4 control-label',
                                'for': 'date-visite'
                            }
                        })}}
                        <div class="col-md-6">
                            {{ form_widget(form.date_visite, {
                                'attr' : {
                                    'class': 'form-control input-md',
                                    'placeholder': 'JJ/MM/AAAA',
                                    'required': ''
                                }
                            })}}
                        </div>
                    </div>

                    {{ form_row(form.guests) }}
                    {{ dump(form.guests) }}


                    <br clear="both" />
                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-8">
                            <a href="#" id="add_guest" class="btn btn-add">Ajouter un visiteur</a>
                            {{ form_widget(form.valider, {
                                'attr' : {
                                    'class': 'btn btn-reserv',
                                }
                            })}}
                        </div>
                    </div>

                </fieldset>
                {{ form_end(form) }}


            </div>

        </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <script>
        $.fn.datepicker.dates['fr'] = {
            days: ["Dimanche", "Lundi", "Mardi", "Mercredi", "Jeudi", "Vendredi", "Samedi"],
            daysShort: ["Dim", "Lun", "Mar", "Mer", "Jeu", "Ven", "Sam"],
            daysMin: ["Di", "Lu", "Ma", "Me", "Je", "Ve", "Sa"],
            months: ["janvier", "février", "mars", "avril", "mai", "juin", "juillet", "août", "septembre", "octobre", "novembre", "décembre"],
            monthsShort: ["janv", "févr", "mars", "avr", "mai", "juin", "juil", "août", "sept", "oct", "nov", "déc"],
            today: "Aujourd'hui",
        };
        $(document).ready(function() {
            var date_input = $('input[name="ticket[date_visite]"]'); //our date input has the name "date"
            var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";
            var options = {
                format: "dd/mm/yyyy",
                startDate: "today",
                language: "fr",
                daysOfWeekDisabled: "2",
                autoclose: true,
                todayHighlight: true,
                datesDisabled: ['01/05/YYYY', '01/11/YYYY', '25/12/YYYY']
            };
            date_input.datepicker(options);
        })
    </script>
    <script>
        $(function() {
            $('#ticket_type_billet').change(function() {
                if ($('#ticket_type_billet').val() == 'demi_journee') {
                    $('#help-demi-journee').show(400);
                } else {
                    $('#help-demi-journee').hide(400);
                }
            });
        });
    </script>



    <script src="{{ asset('js/form-collection.js') }}"></script>
{% endblock %}